body{
  padding-left: 5%;
}

h1{
  font-weight: bold;
}

input.mdl-textfield__input {
  background-color: lightgray;
  border-radius: 5px;
  border-color: none;
}

/* .material-icons{
  font-size: 1.1rem;
} */


button {
  padding: 5px;
  color: indigo;
  border-radius: 5px;
}
